@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size: 19px;
    color: #e5e7eb;
}

ul{
    display: flex;
    flex-direction: row;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left{
    display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
}

.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
 }
    
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;

}

.content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    margin-left: 50px;
    
}

.content-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    width: 50%;
}

img{
    margin: 50px;
}

.sign-up-first-section{
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px #3882f6;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.second-section {
    /* Add any styling for second-section if needed */
}

.second-section .second-section-containers {
    display: flex;
    justify-content: center; /* Horizontally centers the flex items */
    align-items: center; /* Vertically centers the flex items */
}

.chess-box {
    width: 100px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    background-color: salmon;
   
    
}

.blurb {
    text-align: center;
    font-size: 14px;
    color: #555; /* Adjust the color as needed */
    margin-top: 5px; /* Add spacing between image and text */
   
}

.image-container {
    text-align: center; /* Centers content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section{
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;

}

.quote-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
   padding: 20px;
   width: 800px;

}

.chess-quote{
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    
}

.author{
    padding-top: 20px;
    align-self: flex-end;
    color: #1F2937;
    font-size: large;
    
    
}